/* Hero */
.hero__content > h1{
    text-transform: uppercase;
}

/* Border Contact */
#contact_border{
    position: relative;
    width: 100%;
    background-color: var(--primary);
    padding: 1rem 0;
}
#contact_border > img{
    animation: fadeInRight;
    animation-duration: 1s;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#contact_border > img:hover{
    cursor: pointer;
}
#contact_border > p{
    animation: fadeInLeft;
    animation-duration: 1s;
    line-height: 1.2;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    color: var(--white);
    font-size: 1.7rem;
}
#contact_border > p > span{
    display: block;
    font-weight: 300;
}
#contact_border > p > span > a{
    font-weight: 700;
    color: var(--white);
}

/* Main */
.main{
    margin-top: 7rem;
    margin-bottom: 7rem;
    background-color: #F5F5F5;
}
.main__content{
    padding-top: 7rem;
    padding-bottom: 9rem;
    width: 70%;
    margin: 0 auto;
}
.main__content > h3{
    animation: fadeInRight;
    animation-duration: 1s;
    text-align: center;
    color: var(--primary);
    padding-bottom: 5rem;
}
.main__form{
    animation: fadeInLeft;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;
    margin: 0 auto;
}
.main__form > input,
.main__form > textarea{
    padding: 1.5rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #606060;
}
.main__form > label{
    color: var(--dark);
    font-size: 1.7rem;
    font-weight: 300;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
label:hover{
    cursor: pointer;
}
.btn{
    background-color: #763476;
    width: 26rem;
    margin: 0 auto;
    border-radius: 5rem !important;
    padding: 3rem 0;
    color: var(--white) !important;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    border: none;
}
.btn:hover{
    cursor: pointer;
}

.btn {
    background-color: transparent;
    transition: all .5s ease;
    cursor: pointer;
}

.btn:hover {
    outline: 0;
    color: #fff;
    transform: scale(1.01) translateZ(0);
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.btn-cont {
    padding: 0.7em 1.5em;
    border: none;
    color: #fff;
    background: linear-gradient(to left, #763476 50%, #862b86 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.btn-cont:hover {
    background-position: left bottom;
}

/* Locate */
.locate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.locate__map{
    animation: fadeInLeft;
    animation-duration: 1s;
    width: 100%;
    height: 100%;
}
.locate__map > img{
    width: 100%;
    height: 100%;
}
.locate__address{
    animation: fadeInRight;
    animation-duration: 1s;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}
.locate__address > p{
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 500;
}

/* Hover */

textarea,
.locate__address p{
    transition: .7s;
}
textarea:hover{
    transform: scale(1.01);
    transition: .7s;
}

.locate__address p:hover{
    letter-spacing: 1px;
    transition: .7s;
}


@media (max-width: 1220px) {
    .hero__content{
        padding-top: 13rem;
    }
    /* Main */
    .container_mobile{
        width: 100% !important;
    }
    .main{
        margin-top: 0;
        margin-bottom: 0;
    }
    .locate{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 940px) {
    #contact_border > p{
        width: 90%;
    }
    .main__content{
        width: 100%;
    }
    .main__content > h3{
        width: 80%;
        margin: 0 auto;
        font-size: 2.6rem;
    }
    .main__form{
        width: 95%;
    }
    .main__form > input{
        font-size: 1.7rem;
    }
}