/* Main */
.main{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.main__cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26.5rem, 1fr));
    justify-items: center;
    gap: 7rem;
}
.main__card{
    overflow: hidden;
    grid-template-rows: 1fr;
    background-color: var(--white);
    box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.25);
}
.main__card:hover{
    cursor: pointer;
}
.main__card:hover .main__card_btn{
    background-color: #763476;
}
.main__card img{
    transition: all .8s ease-in-out;
    height: 22rem;
    width: 100%;
}
.main__card:hover img {
    transform: scale(1.05);
    transform-origin: 50% 50%;
    filter: brightness(90%);
    transition: left all .8s ease-in-out; 
}
.main__card_info{
    text-align: center;
    padding: 2rem 3rem;
}
.main__card_info > a > span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--primary);
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    margin-right: 5rem;
}
.main__card_info > a > span > span{
    font-size: 3.1rem;
    font-weight: 800;
}
.main__card_btn{
    display: block;
    font-family: var(--fontSecondary);
    font-weight: 800;
    font-size: 1.6rem;
    background-color: var(--primary);
    text-transform: uppercase;
    color: var(--white);
    padding: 1.2rem 0;
    margin-top: 1rem;
}

/* Slider */
.swiper {
    height: 100%;
}
.cards__content{height: 150vh;}
.swiper-slide {
    font-size: 18px;
    height: calc((100% - 30px) / 3) !important;
}
.main__cards > .swiper{
    padding-bottom: 4rem !important;
}
.swiper-pagination{
    bottom: 0rem !important;
}
.swiper-pagination-bullet{
    padding: .3rem !important;
}
.swiper-pagination-bullet-active{
    background: var(--primary) !important;
}

.main__card{
    animation: pulse;
    animation-duration: 1s;
    transition: .7s;
}

.main__card:hover{
    transform: scale(1.01);
    transition: .7s;
}