@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:wght@300;600&family=Roboto:wght@300;500;700;900&display=swap');
@import url("../libs/animate/animate.min.css");

:root{
    --white: #fff;
    --primary: #AF9C66;
    --dark: #212129;
    --fontSecondary: 'Montserrat', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
    line-height: 1.4;
    overflow: hidden;
}

/* Global */
.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none !important;
    color: #000;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img{
    max-width: 100%;
    height: auto;
}

/* Hero */
.hero{
    background-image: url(../images/f_3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 46.8rem;
}
.hero__content{
    padding-top: 14rem;
    width: 80rem;
    text-align: center;
    margin: 0 auto;
}
.hero__content > h1{
    animation: fadeInLeft;
    animation-duration: 1s;
    font-family: var(--fontSecondary);
    font-size: 4.7rem;
    font-weight: 800;
    color: var(--primary);
    padding-bottom: 1rem;
}
.hero__content > p{
    animation: fadeInRight;
    animation-duration: 1s;
    font-weight: 300;
    font-size: 2.2rem;
    color: var(--white);
}

/* NavBar */
.nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 2.2rem;
    width: min(100%, 140rem);
    margin: 0 auto;
}
.nav-left{
    animation: fadeInLeft;
    animation-duration: 1s;
}
.nav-right{
    animation: fadeInRight;
    animation-duration: 1s;
}
.nav-left,
.nav-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.nav-right > li:nth-child(2){
    margin-left: 5rem;
}
.nav a{
    color: var(--white);
    font-weight: 300;
    font-size: 1.5rem;
}
.active_nav::before{
    background-image: url('../images/icons/nav_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.9rem; 
    height: 1.5rem;
    content:"";
    padding-right: .2rem;
}
.nav a:hover{
    color: var(--primary);
}
.logo{
    animation: fadeInDown;
    animation-duration: 1s;
    margin: 1rem auto 0 auto;
    width: 8rem;
}
.nav__btn{
    margin-top: .5rem;
    margin-left: 10rem;
    background-color: var(--primary);
    padding: .8rem 4rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: .5s;
    zoom: 100%;
    background-color: transparent;
    transition: all 0.5s ease;
    cursor: pointer;
    border: none;
    color: #fff;
    background: linear-gradient(to left, var(--primary) 50%, #aa955a 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

/* Nav__btn hover */
.nav__btn:hover{
    zoom: 103%;
    transition: .5s;
    padding: .8rem 6rem .8rem 2rem;
    outline: 0;
    color: #fff;
    background-position: left bottom;
}
.nav__btn:hover .nav__btn_icon{
    left: 75%;
    transition: .7s;
}
.nav__btn:hover span{
    font-weight: 400;
}
.nav__btn > span{
    padding-left: 1rem;
}
.nav__btn:hover > span{
    color: var(--white);
}
.nav__btn_icon{
    transition: .7s;
    background-image: url(../images/icons/circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: .5rem;
    top: 50.4%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hero__text{
    position: relative;
    width: 100rem;
    height: 60rem;
    margin: 0 auto;
    text-align: center;
}
.hero__text_content{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} 
.hero__text_content > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--primary);
    font-size: 4.7rem;
    padding-bottom: 5rem;
    animation: fadeInLeft;
    animation-duration: 1s;
}
.hero__text_content > p{
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
    color: var(--white);
    font-size: 2.2rem;
    animation: fadeInRight;
    animation-duration: 1s;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.gallery__card{
    overflow: hidden;
}
.gallery__card img{
    display: block;
    transition: all .8s ease-in-out; 
}
.gallery__card:hover img {
    transform: scale(1.05);
    transform-origin: 50% 50%;
    filter: brightness(90%);
    transition: left all .8s ease-in-out; 
  }

.gallery__card:nth-child(1) {
    grid-column: 1/3;
}

.gallery__card:nth-child(2) {
    grid-column: 3/6;
}

.gallery__card:nth-child(3) {
    grid-column: 6/8;
}

.gallery__card:nth-child(4) {
    grid-column: 8/10;
}

.gallery__card:nth-child(5) {overflow: hidden;
    grid-column: 1/6;
}

.gallery__card:nth-child(6) {
    grid-column: 6/8;
}

.gallery__card:nth-child(7) {
    grid-column: 8/10;
}

.gallery__card {
    border: 1px solid rgba(184, 184, 184, 0.4);
}

.gallery__card img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.text{
    background-color: var(--primary);
}

.gallery__card span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    font-weight: 500;
    width: 30%;
    color: var(--white);
    margin: 0 auto;
    text-align: center;
}

/* Footer */
.footer{
    background-color: var(--dark);
    color: var(--white);
    padding-bottom: 2rem;
}
.footer__content{
    animation: fadeInLeft;
    animation-duration: 1s;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding-top: 10rem;
}
.footer__links{
    display: flex;
    gap: 10rem;
}
.footer__links div > h4{
    font-size: 2.5rem;
    font-weight: 500;
}
.footer__links div > ul{
    list-style: none;
    padding-left: 0;
}
.footer__links li{
    line-height: 1.5;
}
.footer__links a{
    font-weight: 300;
    font-size: 2.1rem;
    color: var(--white);
}
.footer__links a:hover{
    color: var(--primary);
}
.footer__social > ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
.icon{
    width: 3.28rem;
}
.footer__content > img{
    max-width: 37.2rem;
}
.footer__copyright{
    margin-top: 2rem;
    background-color: #15151C;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1.2rem 0;
}
.icons {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 2rem 0 0 -1rem;
}

.icons li {
    list-style: none;
}

.icons li a {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 50%;
    overflow: hidden;
    border: 3px solid transparent;
    z-index: 0;
}


.icons li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
    margin-bottom: .2rem;
}

.icons li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.icons li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.icons li a:hover:before {
    top: 0;
}

.icons li:nth-child(1) a:before {
    background: #3b5999;
}

.icons li:nth-child(2) a:before {
    background: #00acee;
}

.icons li:nth-child(3) a:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.icons li:nth-child(4) a:before {
    background: #25D366;
}
.desktop{
    display: grid;
}
.mobile{
    display: none;
}

/* Hover global */
.card,.logo{
    transition: .5s;
}

.card:hover,.logo:hover{
    transform: scale(1.02);
    transition: .5s;
}

.logo:hover{
    cursor: pointer;
}

input{
    transition: .5s;
}
input:hover{
    transform: scale(1.01);
    transition: .5s;
}

@media (max-width: 1300px) {
    .nav__btn{
        margin-left: 0;
    }
}
@media (max-width: 1220px) {
    .desktop{
        display: none !important;
    }
    .mobile{
        display: block;
    }
    /* Hero */
    .hero{
        background-image: url(../images/c_2.jpg);
        height: 46rem;
    }
    .hero__content{
        padding-top: 7rem;
    }

    /* Nav Mobile */
    .nav__mobil{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 2rem;
        padding-right: 3rem;
    }
    .nav__mobil > .nav__btn{
        position: absolute;
        top: 2.4rem;
        right: 1rem;
        color: var(--white);
        font-size: 1.4rem;
        padding: 0rem 3rem;
        height: 3.5rem;
    }
    #nav__logo_mobile > img{
        width: 8rem;
    }
    /* * MENU BUTTON */
    .menu__submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        font-size: 1.3rem;
    }

    .submenu:after {
        content: ' »';
        transform: rotate(45deg);
    }

    .menu__submenu li {
        padding: 0;
        list-style: none;
        line-height: 3;
    }

    .menu__submenu li a {
        padding-left: 2rem;
        color: var(--white);

    }
    .menu p a {
        color: var(--white);
    }
    .footer__menu_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__menu_mobile > .footer__icons{
        width: auto;
    }
    .footer__icons img {
        max-width: 4rem;
    }
    .footer__menu_mobile .icons{
       margin: 0;
    }
    .menu_logo {
        height: 7rem !important;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .menu_social {
        width: 15rem;
        height: 2.48rem;
    }

    .menu__toggler {
        position: absolute;
        top: 3.2rem;
        left: 2rem;
        z-index: 101;
        height: 28px;
        width: 28px;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .menu__toggler span,
    .menu__toggler span::before,
    .menu__toggler span::after {
        position: absolute;
        content: '';
        width: 28px;
        height: 2.5px;
        background: #fafafa;
        border-radius: 20px;
        transition: .6s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .menu__toggler span::before {
        top: -8px;
    }

    .menu__toggler span::after {
        top: 8px;
    }

    .menu__toggler.active>span {
        position: fixed !important;
        background: transparent;
    }

    .menu__toggler.active>span::before,
    .menu__toggler.active>span::after {
        background: #fff;
        top: 0;
    }

    .menu__toggler.active>span::before {
        transform: rotate(-225deg);
    }

    .menu__toggler.active>span::after {
        transform: rotate(225deg);
    }

    /* * SLIDING MENU PANEL */
    @media (max-width: 768px) {
        .menu{
            width: 53%;
        }
    }
    .menu {
        position: fixed;
        left: -80%;
        top: 0;
        z-index: 100;
        height: 100vh;
        color: #fff;
        background-image: url('../images/c_3.png');
        background-repeat: no-repeat;
        filter: brightness(1.4);
        transition: 900ms left cubic-bezier(0.77, 0, 0.175, 1);
        padding: 10rem 5rem 0 5rem;
        overflow-y: scroll;
    }

    .menu.active {
        left: 0;
        padding: 10rem 10rem 0 10rem;

    }

    @media only screen and (max-width: 600px) {

        .menu.active {
            padding: 10rem 5rem 0 5rem;
        }
    }

    .menu p {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        overflow: hidden;
        padding-bottom: 1rem;
        border-bottom: 1px solid #2b2b2b;
        width: 100%;
    }

    /* Gallery */
    /* Gallery */
    .gallery {
        grid-template-columns: repeat(10, 1fr);
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
    .gallery__card:nth-child(1) {
        grid-column: 1/5;
    }

    .gallery__card:nth-child(2) {
        grid-column: 5/11;
    }

    .gallery__card:nth-child(5) {
        grid-column: 1/11;
        grid-row: 2/3;
    }

    .gallery__card:nth-child(3) {
        grid-column: 1/6;
    }

    .gallery__card:nth-child(4) {
        grid-column: 6/11;
    }

    .gallery__card:nth-child(7) {
        grid-column: 6/11;
    }

    .gallery__card:nth-child(6) {
        grid-column: 1/6;
    }
    .gallery__card img{
        height: auto;
    }

    /* Footer Mobile*/
    .icon_social{
        position: absolute;
        top: 10%;
        right: 3%;
        width: 12rem;
        z-index: 1;
    }
    .footer__content{
        padding-top: 5rem;
        justify-content: normal;
    }
    .footer__nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        margin: 0;
    }

    .footer__icon {
        padding-right: 1.5rem;
    }

    .footer__title_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem 0;
    }

    .footer__work .footer__title_top {
        border-top: none;
    }

    .footer__title_top > h4 {
        font-size: 2rem;
        font-weight: bold;
    }

    .footer__legal .footer__title_top {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .footer__nav ul {
        margin-top: .6rem;
        padding-left: 0;
        list-style: none;
        line-height: 1.6;
    }

    .footer__nav ul li a {
        font-size: 1.8rem;
        font-weight: 300;
        color: var(--white);
    }

    .footer__nav {
        overflow: hidden;
    }

    .footer__follow {
        margin-top: 1rem;
        padding-bottom: 6rem;
    }

    .footer {
        background-size: 100% 100%;
        background-position: bottom bottom;
    }
    .footer__logo_text{
        padding-top: 4rem;
    }
    .footer__logo_text > img{
        width: 17.2rem;
    }
    .footer__logo_text > p{
        font-size: 1.8rem;
        font-weight: 300;
    }
    .footer__copyright{
        font-size: 1.3rem;
    }
}

@media (max-width: 940px) {
    /* Hero */
    .hero__content{
        width: 95%;
    }
    .hero__content > h1{
        font-size: 4rem;
    }
    .hero__content > p{
        padding-top: 1rem;
        font-size: 1.7rem;
    }
    .text > span{
        font-size: 1.4rem;
    }
}